<div class="ml-[474px] mr-[474px]">
  <div class="text-center text-xl mb-9">
    <i class="fa-brands fa-facebook pr-12"></i>
    <i class="fa-brands fa-instagram pr-12"></i>
    <i class="fa-brands fa-twitter pr-12"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
  <div class="flex justify-between mb-9 font-bold text-lg">
    <p>Conditions of Use</p>
    <p>Privacy & Policy</p>
    <p>Press Room</p>
  </div>
  <div class="text-center text-gray-500">
    <p>© 2021 MovieBox by Adriana Eka Prayudha</p>
  </div>
</div>
