<div class="mt-10 mx-24 mb-32 grid grid-flow-col gap-8">
  <div class="w-full">
    <img src="../../../assets/image/Poster1.png" alt="" class="w-full h-full" />
  </div>
  <div class="font-mono">
    <h1 class="font-bold text-4xl mb-2">Stranger Things</h1>
    <p>Release Date: October 15, 1999</p>
    <p class="mb-2">Genre: Action, Adventure, Drama</p>
    <p class="mb-2">
      In this provocative drama co-starring Brad Pitt and Edward Norton and
      directed by David Fincher, a disaffected man and his charismatic friend
      organize brutal, bare-knuckle boxing matches.
    </p>
    <h2 class="font-bold text-lg">Directed By</h2>
    <p class="mb-2">David Fincher</p>
    <h2 class="font-bold text-lg">Produced By</h2>
    <p class="mb-2">Art Linson, Ceán Chaffin, Ross Grayson</p>
    <h2 class="font-bold text-lg">Cast</h2>
    <p>
      Dierdre Downing Jackson, Van Quattro, Bennie E. Moore, Andi Carnick,
      Charlie Dell, Robby Robinson, Rachel Singer, Tim De Zarn, Peter Iacangelo,
      Richmond Arquette, Stuart Blumberg, Todd Peirce, Valerie Bickford,
      Anderson Bourell, Christopher John Fields, Carl Ciarfalio, Joon B. Kim,
      Lou Beatty Jr., Michael Shamus Wiles, Robert J. Stephenson, Scotch Ellis
      Loring, Sydney Colston, Thom Gossom Jr., Tyrone R. Livingston, W. Lauren
      Sanchez, David Lee Smith, Zach Grenier, Christina Cabot, David
      Jean-Thomas, Christie Cronenweth, Ezra Buzzington, David Andrews, George
      Maguire, Eugenie Bondurant, Evan Mirand, Edward Kowalczyk, Holt McCallany,
      Joel Bissonnette, Michael Girardin, Owen Masterson, Markus Redmond, Paul
      Carafotes, Leonard Termo, Mark Fite, Matt Winston, Pat McNamara, Rob
      Lanza, Brad Pitt, Edward Norton, Helena Bonham Carter, Meat Loaf Aday,
      Jared Leto
    </p>
  </div>
</div>
<div class="mx-24 mb-32">
  <div class="flex justify-between mb-11">
    <h1 class="font-bold font-mono text-4xl">Recommend Movies</h1>
    <p class="font-mono font-normal text-rose-700 text-lg">
      See more <i class="fa-solid fa-chevron-right"></i>
    </p>
  </div>
  <div class="grid justify-between gap-[100px] grid-cols-4">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>
