<div
  class="bg-cover bg-center h-screen"
  style="background-image: url('../../../assets/image/Poster.png')"
>
  <div class="grid grid-cols-3 pt-4 pl-[98px] pr-[98px] text-white">
    <div class="flex gap-6 items-center">
      <img src="../../../assets/image/tv.png" alt="" />
      <h1 class="font-mono text-white font-bold text-2xl">
        <a routerLink="/home">MovieBox</a>
      </h1>
    </div>
    <div class="w-full">
      <input
        type="text"
        placeholder="What do you want to watch?"
        class="w-full py-2.5 px-2.5 bg-transparent border-2 border-solid border-gray-300 rounded-md"
      />
    </div>
    <div class="flex gap-7 items-center ml-[314px]">
      <h2 class="font-mono font-bold text-base">Sign in</h2>
      <img src="../../../assets/image/Menu.png" alt="" />
    </div>
  </div>
  <div class="mt-[93px] text-white pl-[98px] w-2/5">
    <h1 class="font-mono font-bold text-5xl mb-4">John Wick 3 : Parabellum</h1>
    <div class="flex gap-9 mb-4">
      <div class="flex items-center gap-2.5">
        <img src="../../../assets/image/img1.png" class="w-9 h-4" alt="" />
        <p>86.0 / 100</p>
      </div>
      <div class="flex items-center gap-2.5">
        <img src="../../../assets/image/item1.png" alt="" />
        <p>97%</p>
      </div>
    </div>
    <p class="font-medium font-sans text-sm w-80 mb-4">
      John Wick is on the run after killing a member of the international
      assassins' guild, and with a $14 million price tag on his head, he is the
      target of hit men and women everywhere.
    </p>
    <button
      class="w-40 bg-rose-700 h-9 rounded-md uppercase font-bold font-mono text-sm"
    >
      <i class="fa-solid fa-circle-play"></i> Watch trailer
    </button>
  </div>
</div>
