<div class="" *ngIf="movie.id">
  <p class="font-sans font-bold text-xs text-gray-400">USA, 2016 - Current</p>
  <h2 class="font-sans font-bold text-lg text-gray-900">
    <a [routerLink]="['/detail', movie.id]" class="line-clamp-2">{{
      movie.title
    }}</a>
  </h2>
  <div class="flex justify-between">
    <div class="flex items-center gap-2.5">
      <img src="../../../assets/image/img1.png" class="w-9 h-4" alt="" />
      <p>86.0 / 100</p>
    </div>
    <div class="flex items-center gap-2.5">
      <img src="../../../assets/image/item1.png" alt="" />
      <p>97%</p>
    </div>
  </div>
  <p class="font-sans font-bold text-xs text-gray-400">
    Action, Adventure, Horror
  </p>
</div>
