<!-- <p class="text-red-300">home works!</p>
<a routerLink="/detail">go</a> -->
<div class="mx-24 mt-16">
  <div class="flex justify-between mb-11">
    <h1 class="font-bold font-mono text-4xl">Featured Movie</h1>
    <p class="font-mono font-normal text-rose-700 text-lg">
      See more <i class="fa-solid fa-chevron-right"></i>
    </p>
  </div>
  <div class="grid justify-between gap-[100px] grid-cols-4">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>
<div class="mx-24 mt-20">
  <div class="flex justify-between mb-11">
    <h1 class="font-bold font-mono text-4xl">New Arrival</h1>
    <p class="font-mono font-normal text-rose-700 text-lg">
      See more <i class="fa-solid fa-chevron-right"></i>
    </p>
  </div>
  <div class="grid justify-between gap-[100px] grid-cols-4">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>
<div class="mx-24 mt-20">
  <div class="flex justify-between mb-11">
    <h1 class="font-bold font-mono text-4xl">Trailer Movie</h1>
    <p class="font-mono font-normal text-rose-700 text-lg">
      See more <i class="fa-solid fa-chevron-right"></i>
    </p>
  </div>
  <div class="flex gap-4">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/eoOaKN4qCKw"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Y274jZs5s7s"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/0UXPIa5cNws"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<div class="mx-24 mt-20 mb-32">
  <div class="flex justify-between mb-11">
    <h1 class="font-bold font-mono text-4xl">Featured Casts</h1>
    <p class="font-mono font-normal text-rose-700 text-lg">
      See more <i class="fa-solid fa-chevron-right"></i>
    </p>
  </div>
  <div class="grid justify-between gap-[100px] grid-cols-4">
    <app-cast></app-cast>
    <app-cast></app-cast>
    <app-cast></app-cast>
    <app-cast></app-cast>
  </div>
</div>
